extends layout

block stylesheet
	link(rel='stylesheet', href='/stylesheets/index.css')

block javascript
	script(type='text/javascript', src='/javascripts/index.js')

block content
	div.ui.grid.divided.stackable.main
		div#screen-grid.nine.wide.column
			div#aquarium-title.ui.basic.segment
				div.ui.huge.header 我的水族箱
				i.tags.icon
				a.aq-tag.ui.red.tag.label 水草
				a.aq-tag.ui.teal.tag.label 斑馬魚
				a.aq-tag.ui.blue.tag.label 初學者
			div#screen-box.ui.grey.stacked.segment
				video(width='100%', height='100%')
					source(src='https://upload.wikimedia.org/wikipedia/commons/transcoded/1/13/Neon_tetra_%28Paracheirodon_innesi%29_in_an_aquarium.webm/Neon_tetra_%28Paracheirodon_innesi%29_in_an_aquarium.webm.480p.webm', type='video/webm')
			div.ui.two.column.grid
				div.eleven.wide.column
					div.ui.form
						div.inline.field
							div#stream-switch.ui.toggle.checkbox
								input(type='checkbox', tabindex='0', class='hidden')
								label 立即觀看我的魚缸
				div.five.wide.column.right.aligned
					a.ui.label.blue
						| 觀看次數
						div.detail 1294
		div#console-grid.seven.wide.column
			h4.ui.horizontal.divider.header
				i.sun.icon
				| 照明控制
			p
				| 下方有三條控制項提供調整光的三原色的各自比例，讓魚缸和水生植物能夠在最佳的光色下生活，也讓它隨著您的心情隨時變換色調。
			div.ui.form
				div.inline.field
					div#lightCheck.ui.toggle.checkbox
						input(type='checkbox')
						label 開關
				div#lightSliderGroup.field.disabled
					label 紅光
					div.inline.fields
						label.rgbLeft 0
						input#red-light.red(type='range', min='0', max='255', step='5', value='125')
						label.rgbRight 255
					label 綠光
					div.inline.fields
						label.rgbLeft 0
						input#green-light.green(type='range', min='0', max='255', step='5', value='125')
						label.rgbRight 255
					label 藍光
					div.inline.fields
						label.rgbLeft 0
						input#blue-light.blue(type='range', min='0', max='255', step='5', value='125')
						label.rgbRight 255
					div.submit-box.ui.basic.right.aligned.segment
						button#light-btn.ui.labeled.icon.black.button
							i.idea.icon
							| 套用
			h4.ui.horizontal.divider.header(style="margin-top:0;")
				i.bar.food.icon
				| 飼料投遞
			p
				| 餵食馬達轉動的圈數以及轉動的角度都會影響餵食的飼料量，差別在於，如果您的飼料顆粒較大，可以藉由多次轉動造成的晃動讓飼料顆粒較容易落下！
			div.ui.form
				div.two.fields
					div.field
						div.ui.right.labeled.input
							input#angle(type='text', placeholder='轉動角度')
							div.ui.basic.label
								| 度
					div.field
						div.ui.right.labeled.input
							input#times(type='text', placeholder='轉動圈數')
							div.ui.basic.label
								| 圈
				div.submit-box.ui.basic.segment.right.aligned
					button#feed-btn.ui.labeled.icon.black.button
						i.spoon.icon
						| 餵食
