extends layout

block stylesheet
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	div.ui.grid.divided.stackable.four.column.main
		div#screen-grid.nine.wide.column
			div#screen-box.ui.grey.stacked.segment Video
		div#console-grid.seven.wide.column
