.main {
	height: 92%;
}

#screen-grid {
	padding: 1% 3% 1% 3%;
	height: 100%;
}

#screen-box {
	height: 70%;
}

i.tags.icon {
	font-size: 1.5em;
}

a.ui.label.aq-tag {
	top: -0.4em;
	margin-left: 1.5em;
}
